<%- include("partials/header") %>

<h2>Cliquez sur un type pour voir tous les Pokémon de ce type</h2>


<div class="type_list">
    <a href="/listDetails/Acier" class="tags type--Acier list">Acier</a>
    <a href="/listDetails/Combat" class="tags type--Combat list">Combat</a>
    <a href="/listDetails/Dragon" class="tags type--Dragon list">Dragon</a>
    <a href="/listDetails/Eau" class="tags type--Eau list">Eau</a>
    <a href="/listDetails/Électrik" class="tags type--Électrik list">Électrik</a>
    <a href="/listDetails/Feu" class="tags type--Feu list">Feu</a>
    <a href="/listDetails/Glace" class="tags type--Glace list">Glace</a>
    <a href="/listDetails/Insecte" class="tags type--Insecte list">Insecte</a>
    <a href="/listDetails/Normal" class="tags type--Normal list">Normal</a>
    <a href="/listDetails/Plante" class="tags type--Plante list">Plante</a>
    <a href="/listDetails/Poison" class="tags type--Poison list">Poison</a>
    <a href="/listDetails/Psy" class="tags type--Psy list">Psy</a>
    <a href="/listDetails/Roche" class="tags type--Roche list">Roche</a>
    <a href="/listDetails/Sol" class="tags type--Sol list">Sol</a>
    <a href="/listDetails/Spectre" class="tags type--Spectre list">Spectre</a>
    <a href="/listDetails/Vol" class="tags type--Vol list">Vol</a>
</div>



</div>
</body>
</html>
